modules = ["nodejs-20", "web", "nix"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Dev Server"

[[workflows.workflow]]
name = "Next.js Dev Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 9005
externalPort = 3003

[[ports]]
localPort = 33095
externalPort = 3001

[[ports]]
localPort = 37333
externalPort = 5000

[[ports]]
localPort = 38241
externalPort = 3002

[[ports]]
localPort = 39425
externalPort = 4200

[[ports]]
localPort = 40757
externalPort = 5173

[[ports]]
localPort = 41151
externalPort = 6000

[[ports]]
localPort = 44109
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
ADMIN_EMAIL = "momentouslyfe@gmail.com"
NEXT_PUBLIC_APP_URL = "https://39744146-5660-4490-bdc8-13874e64ab5c-00-1455a9xj0826y.riker.replit.dev"
